/* Disable highlighting / dragging */
* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}
img, a {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
body, html {
  cursor: default;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
  margin: 0;
  overflow: hidden;
}


.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f3;
  cursor: none; 
  height: 100vh; 
  width: 100vw; 
}

.controls{
  cursor:none;
}

label{
  cursor:none;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.size-slider {
  margin-bottom: 20px;
  cursor:none;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-gap: 15px;
  position: relative;
}

.reset-button {
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #e0e0e0;
  box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
  cursor: none;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.reset-button:active {
  transform: scale(0.95);
}

.custom-cursor {
  position: absolute;
  pointer-events: none; 
  z-index: 9999; 
  will-change: transform; 
}

.size-slider {
  -webkit-appearance: none;
  width: 200px;
  height: 15px;
  background: #f0f0f3;
  border-radius: 10px;
  box-shadow: inset 8px 8px 16px #bebebe, inset -8px -8px 16px #ffffff;
  outline: none;
  margin-bottom: 20px;
  cursor: none;
}

.size-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #f0f0f3;
  border-radius: 50%;
  box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
  cursor: none;
  transition: box-shadow 0.3s ease;
}

.size-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #f0f0f3;
  border-radius: 50%;
  box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
  cursor: none;
  transition: box-shadow 0.3s ease;
}

.size-slider::-webkit-slider-thumb:active,
.size-slider::-moz-range-thumb:active {
  box-shadow: inset 8px 8px 16px #bebebe, inset -8px -8px 16px #ffffff;
}